# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
/build
/dist
/public/uploads
frontend/build

# Coverage and testing
coverage/
.nyc_output/
jest-html-reporters-*
